/* setup generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
}
ul {
  list-style-type: none;
}
p {
  display: inline;
}
/* /setup generali */

/* utility */
.debug * {
  border: solid 2px black;
}
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}
.rosso {
  color: red;
}
.sbarrato {
  text-decoration: line-through;
}
.piccolo {
  font-size: 0.7rem;
}

/* fine utility */

/* header */
header {
  background-color: orangered;
  min-height: 80px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li {
  display: inline;
}

.logo-boolean {
  width: 130px;
  display: inline;
}
header > div * {
  color: white;
  padding-top: 10px;
}
header > .link-header {
  padding-left: 100px;
}
header > .link-header * {
  padding: 0px 2px;
}
header > .logo-header {
  padding-right: 80px;
}
/* fine header */

/* prima riga pag 1 */
.first-row-first-page {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.ragazzo-maglia-lewis {
  max-width: calc(100% / 3);
  padding: 30px 30px;
}
.ragazza-bionda-maglia-guess {
  max-width: calc(100% / 3);
  padding: 30px 30px;
}
.ragazza-nera-verde-pisacchio {
  max-width: calc(100% / 3);
  padding: 30px 30px;
}
/* fine prima riga pag 1 */

/* seconda riga pag 2 */
.second-row-first-page {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.ragazzo-nero-maglia-lewis {
  max-width: calc(100% / 3);
  padding: 30px 30px;
}
.ragazza-bianca-elegante {
  max-width: calc(100% / 3);
  padding: 30px 30px;
}
.ragazza-nera-elegante {
  max-width: calc(100% / 3);
  padding: 30px 30px;
}
/* fine main */

/* footer */
footer {
  background-color: black;
  color: white;
  min-height: 50px;
  padding: 30px 0;
  display: flex;
  justify-content: space-around;
}
footer > .lato-sx-footer > h5 {
  padding-left: 20px;
  padding-bottom: 20px;
}
footer > .lato-sx-footer > ul > li {
  padding-left: 20px;
  font-size: 0.8rem;
}
